* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f8fafc;
  color: #0d0d0d;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #121212;
  padding: 4rem 2rem;
  text-align: center;
  border-bottom: 5px solid #0e89d9;
}

h1 {
  font-size: 4rem;
  color: #ededed;
  text-transform: uppercase;
}

h2 {
  color: #ededed;
  font-size: 2.2rem;
  font-weight: 400;
}

h3 {
  font-size: 2.4rem;
  color: #084f7d;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

p {
  margin-bottom: 2rem;
}

nav {
  padding: 1.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  color: #8fcaf1;
  font-size: 1.8rem;
  font-weight: bold;
}

nav a:hover {
  color: #ededed;
  text-decoration: underline;
}

main {
  max-width: 900px;
  margin: 3rem auto;
  padding: 0 2rem;
}

section {
  background-color: #eae8e3;
  padding: 2.3rem;
  border-radius: 8px;
}

ul {
  margin-left: 2.5rem;
  margin-bottom: 2rem;
}

li {
  margin-bottom: 1rem;
}

img {
  display: block;
  max-width: 60%;
  height: auto;
  margin: 3rem auto;
}

.map-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}

.map-box img {
  max-width: 45%;
}

footer {
  padding: 3rem;
  text-align: center;
  color: #084f7d;
  font-size: 1.4rem;
}
